$pClr: #4B4B4B;
$sClr: #707070;
$bgClr: #e1f6ff;

@font-face{
    font-family: productSans;
    src: url(res/fonts/ProductSansRegular.ttf);
}
@font-face{
    font-family: arciform;
    src: url(res/fonts/Arciform.otf);
}
.archives, .work{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,465px));
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1400px;
    border-color: blue;
}
.card{
    background: $bgClr;
    border-radius: 10px;
    
    width: 465px;
    height: 173px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition-property: box-shadow;
    transition-duration: 280ms;
    .icoContainer{
        background: $bgClr;
        border-radius: 10px;
        height: 173px;
        width: 150px;
        transition-property: box-shadow;
        transition-duration: 280ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 0px 20px #0000002d;
        .cardImg1{
            height: auto;
            width: 100%;
            background: transparent;  
        }
        .cardImg2{
            height: 60%;
            width: auto;
            background: transparent;  
        }
    }
    
    .contentContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 7%;
        padding-right: 4%;
        width: 315px;
        position: relative;
        background: transparent;
        h1,p{
            margin: 0;
            background: transparent;
            //padding-bottom: .5rem;
        }
        h1{
            font-size: 1.6rem;
            letter-spacing: .15rem;
            font-family: productSans;
            color: $pClr;
        }
        p{
            font-family: arciform;
            color: $sClr;
            font-size: .9rem;
            letter-spacing: .1rem;
            line-height: 1.5rem;
        }
        a{
            width: 100%;
        }
        .btnMore{
            //position: absolute;
            //bottom: 0;
            margin-top: 5px;
            font-family: productSans;
            font-size: .8rem;
            background: transparent;
            border-radius: 20px;
            border-color: $sClr;
            color: $pClr;
            height: 27px;
            width: 40%;
            border-style: solid;
            transition-property: background,color,border-color,box-shadow;
            transition-duration: 280ms;
        }
        .btnMore:focus,
        .btnMore:hover{
            box-shadow: 0px 5px 20px #00000028;
            background: $pClr;
            color: white;
            border-color: $pClr;
        }
    }
}
.card:focus,
.card:hover{
    box-shadow: 0px 10px 20px #0000002d;
}

@media (max-width: 600px) {
   
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .card{
        margin-bottom: 2rem;
        width: 85%;
        .icoContainer{
            width: 180px;
        }
        
        .contentContainer{
            padding: 0% 2% 0% 5%;
            h1{
                font-size: 1.2rem;
                padding-bottom: .4rem;
            }
            p{
                font-size: .8rem;
                line-height: 1.2rem;
                padding-bottom: .4rem;
            }
            .btnMore{
                width: 85px;
                font-size: .6rem;
            }
        }
    }
}