@font-face{
    src: url("res/font/ArcaMajora3.otf");
    font-family: arcaMajora;
}
@font-face{
    src: url("res//font/Steradian\ Bold.otf");
    font-family: Steradian;
    font-weight: 900;
}
@font-face{
    src: url("res//font/Steradian\ Medium.otf");
    font-family: SteradianLite;
}
@font-face{
    src: url("res/font/AvenirLTStd-Book.otf");
    font-family: avenir;
}
@keyframes console{
    50%{opacity: 0;}
    100%{
        opacity: 100;
    }
}

@keyframes loadingAnima{
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}

:root{
    --primary-background-color: #232931;
    --secondary-background-color: #292F39;

 //   --primary-background-color: #f8f8f8;
  //  --secondary-background-color: #e7e7e7;

    --disabled-ico-color: #637183;
    --enabled-ico-color: #BDF3FF;
    --accent-color: #4ECCA3;
    --primary-text-color: #BBEBFF;
    --basic-text-color: #E3E3E3;

    --button-bg-color: #323B49;
    --button-border-color: #2E3746;

    --nameFilter: invert(71%) sepia(31%) saturate(579%) hue-rotate(292deg) brightness(114%) contrast(106%);
    --emailFilter: invert(71%) sepia(6%) saturate(1807%) hue-rotate(204deg) brightness(104%) contrast(105%);
    --msgFilter: invert(89%) sepia(24%) saturate(401%) hue-rotate(83deg) brightness(103%) contrast(104%);


    //SubAccent Colors
    --light-blue-color: #BDF3FF;
    --light-green-color: #bdffdb;
    --light-orange-color: #ffeabd;
    --light-red-color: #ffc1bd;
    --light-purple-color: #c1bdff;
    --light-pink-color: #ffbdeb;

    --light-semi-blue-color: #bdf3ffa4;
    --light-semi-green-color: #bdffdba4;
    --light-semi-orange-color: #ffeabda4;
    --light-semi-red-color: #ffc1bda4;
    --light-semi-purple-color: #c1bdffa4;
    --light-semi-pink-color: #ffbdeba4;
}
.blueColor{
    color: var(--light-blue-color);
}
.greenColor{
    color: var(--light-green-color);
}
.orangeColor{
    color: var(--light-orange-color);
}
.redColor{
    color: var(--light-red-color);
}
.purpleColor{
    color: var(--light-purple-color);
}
.pinkColor{
    color: var(--light-pink-color);
}

.semiblueColor{
    color: var(--light-semi-blue-color);
}
.semigreenColor{
    color: var(--light-semi-green-color);
}
.semiorangeColor{
    color: var(--light-semi-orange-color);
}
.semiredColor{
    color: var(--light-semi-red-color);
}
.semipurpleColor{
    color: var(--light-semi-purple-color);
}
.semipinkColor{
    color: var(--light-semi-pink-color);
}
*{
    padding: 0;
    margin: 0;
    //@extend: 2px solid red;
    outline: 0;
}

body{
    background: var(--primary-background-color);
    color: var(--basic-text-color);
    position: relative;
    transition: color 280ms, background 280ms;
}

.sideBar{
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 86px;
    //width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secondary-background-color);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    .container{
        width: 100%;
        height: 86px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        color: var(--disabled-ico-color);
        transition: background 280ms;
        .sideBarBtn{
            width: 86px;
            font-size: 1.6rem;
            display: grid;
            place-items: center;
        }
        .labelDiv{
            position: absolute;
            right: 0;
            display: grid;
            align-items: center;
            user-select: none;
            width: 170px;
            height: 86px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.12rem;
        }
        .enabled{
            color: var(--enabled-ico-color);
        }
        .disabled{
            color: var(--disabled-ico-color);
        }
        .rm{
            opacity: 0;
            transition: opacity 200ms 0ms;
        }
        transition: background 280ms;
    }
    .enabledPanel{
        background: var(--primary-background-color);
    }
    .container:hover{
        background: var(--primary-background-color);
    }

    transition: width 280ms 100ms ease, background 280ms;
}

.sideBar:hover{
    width: 250px;
    transition: width 280ms ease;
    .container{
        .rm{
            opacity: 100;
            transition: opacity 280ms 200ms;
        }
    }
}



.recentPanel{
    position: fixed;
    right: 0;
    top: 0;
    //bottom: 0;
    height: 100%;
    width: 360px;
    padding-right: 1rem;
    padding-left: 1rem;
    background: var(--secondary-background-color);
    //background: red;
    z-index: 11;
    display: flex;
    align-items: flex-end;
    transform: translateX(375px);
    transition: transform 300ms ease-in, background 280ms;
    .title{
        margin-top: 1rem;
        position: absolute;
        top: 0;
        height: 86px;
        font-family: 'Steradian', sans-serif;
        font-size: 1.8rem;
        // span{
        //     font-size: 2.2rem;
        // }
    }
    .open{
        position: absolute;
        top: 0;
        margin-top: 4rem;
        i{
            font-size: 2rem;
            color: var(--light-blue-color);
            text-align: left;
        }
        transform: translateX(-45px);
        background: var(--secondary-background-color);
        clip-path: circle();
        //background: red;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        z-index: -1;

        transition: opacity 280ms, background 280ms, color 280ms;
    }

    .listActivity{
        //background: red;
        width: max-content;
        height: calc(100% - 70px);
        display: flex;
        flex-direction: column;
        overflow: auto;
        overflow-y: visible;
        overflow-x: hidden;


        .card{
            position: relative;
            width: auto;
            height: max-content;
            background: var(--primary-background-color);
            margin-bottom: 1rem;
            padding: 1rem;
            transition: background 280ms;

            .repoName{
                margin-top: 1rem;
                font-family: 'Steradian';
                letter-spacing: .05rem;
                word-wrap: break-word;
            }
            .commitName{
                margin-top: .5rem;
                font-family: 'avenir';
                letter-spacing: 1px;
                line-height: 1.58rem;
                font-size: .9rem;
                display: block;
            }

            .commitTime{
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 1rem;
                margin-top: .5rem;
                font-family: 'Steradian';
                letter-spacing: .05rem;
                line-height: 1.3rem;
                font-size: .9rem;
            }
            .commitLink{
                display: block;
                float: right;
                text-decoration: none;
                font-family: 'Steradian';
                letter-spacing: .08rem;
                line-height: 1.3rem;
                font-size: .8rem;
                padding: .3rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                background: var(--button-bg-color);
                margin-top: 1rem;
                margin-left: 1rem;
                //width: 100px;
                text-align: center;
                border: 2px solid var(--button-border-color);
                background: transparent;
                transition: color 280ms, background 280ms, border-color 280ms;
                cursor: pointer;

            }

            .blueBtn:hover{
                background: var(--light-blue-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
        }
    }

    .listActivity::-webkit-scrollbar{
        background: transparent;
        width: 0px;
    }
}

.recentPanel:hover{
    transform: translateX(0);

    .open{
        pointer-events: none;
        opacity: 0;
    }
}

.acc{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    background: var(--accent-color);
    transform: scaleX(5%);
    transform-origin: right;
    transition: transform 280ms ease;
}
.acc:hover{
    width: 20rem;
    transform: scaleX(100%);
}


.section{
    background: transparent;
    margin-left: 87px;
    //height: 100vh;
    width: calc(90% - 87px);
    max-width: 700px;
    min-height: calc(100vh - 5rem);
    color: white;
    position: relative;
    transition: opacity 280ms;
    .upspacing{
        margin-top: 80px;
    }
    .sideSpacing{
        margin-left: 2rem;
        //margin-right: 2rem;
    }
    .title{
        width: min-content;
        position: relative;
        font-family: arcaMajora;
        font-size: 64px;
        user-select: none;
        span{
            font-size: 70px;
        }
    }
    .console::after{
        content: "";
        position: absolute;
        height: 12px;
        width: 35px;
        background: var(--light-blue-color);
        bottom: 26%;
        right: -50px;
        animation: console 1s ease-in-out infinite;
    }
    .info{
        width: 100%;
        max-width: 600px;
        margin-top: 2rem;
        font-family: avenir;
        color: var(--basic-text-color);
        line-height: 190%;
        letter-spacing: 1px;
        font-size: 20px;
        span{
            font-weight: 400;
            font-size: 36px;
        }
        .bold{
            font-family: 'Steradian';
            font-size: 20px;
            word-spacing: 5px;
            margin-left: .3rem;
        }
    }
    .btnPanel{
        margin-top: 2rem;
        //background: lightcoral;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button{
            height: 40px;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-left: 1rem;
            background: var(--secondary-background-color);
            border: 0;
            border-radius: 3px;

            font-family: Steradian;
            font-weight: 900;
            font-size: 15px;
            letter-spacing: 1px;
            word-spacing: .3rem;
            //color: #BBEBFF;
            transition: color 280ms, background 280ms;
        }
        .blueBtn:hover{
            background: var(--light-blue-color);
            color: var(--secondary-background-color);
        }
        .pinkBtn:hover{
            background: var(--light-pink-color);
            color: var(--secondary-background-color);
        }
        .greenBtn:hover{
            background: var(--light-green-color);
            color: var(--secondary-background-color);
        }
        button:hover{
            //background: #BBEBFF;
            color: var(--secondary-background-color);
        }
    }

    .formPanel{
        position: relative;
        margin-top: 2rem;
        margin-left: 2rem;
        //height: 412px;
        width: 323px;
        background: var(--secondary-background-color);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        button{
            height: 2rem;
            width: 35%;
            border-radius: 0px;
            background: var(--button-bg-color);
            border: 0;
            //border: 2px solid #637183;
            font-family: Steradian;
            font-weight: 900;
            margin-right: .8rem;
            transition: color 280ms, background 280ms;
        }
        .sendBtn{
            width: max-content;
            height: 42px;
            border: 2px solid var(--button-border-color);
            background: transparent;
            font-size: 16px;
            letter-spacing: .06rem;
            margin: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            transition: border-color 280ms, color 280ms, background 280ms;
            //padding: 0;
        }
        .orangeBtn:hover{
            background: var(--light-orange-color);
            color: var(--primary-background-color);
            border-color: transparent;
        }
        img{
            width: 38px;
        }

        .icoName{
            filter: var(--nameFilter);
        }
        .icoEmail{
            filter: var(--emailFilter);
        }
        .icoMsg{
            filter: var(--msgFilter);
        }

        input, textarea{
            outline: 0;
            border: 2px solid var(--button-border-color);
            background: transparent;
            width: 262px;
            height: 42px;
            margin-left: 2rem;
            
            
            font-size: 1.2rem;
            padding-left: .5rem;
            padding-right: .5rem;
        }
        input::placeholder{
            color: var(--disabled-ico-color);
        }
        input:focus{
            border-color: var(--disabled-ico-color);
        }
        .inputName{
            color: var(--light-pink-color);
        }
        .inputEmail{
            color: var(--light-purple-color);
        }
        .inputMessage{
            color: var(--light-green-color);
        }
        .formCard{
            width: auto;
            //width: 100%;
            //height: 10px;
            //background: red;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
    }
}

.cardContainer{
    margin-left: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,290px);
    gap: 2rem;
    margin-bottom: 4rem;


    .box{
        width: 290px;
        height: 290px;
        background: var(--secondary-background-color);
        position: relative;
        border-radius: 6px;
        transition: transform 280ms ease;
        .headPad{
            padding-top: 5rem;
        }
        .cardtitle{
            margin-left: 1.4rem;
            margin-bottom: .2rem;
            user-select: none;
            font-family: Steradian;
            font-weight: 900;
            font-size: 28px;
            letter-spacing: .1rem;
        }
        .subTitle{
            font-family: Steradian;
            font-size: 24px;
            letter-spacing: .1rem;
            color: var(--disabled-ico-color);
            margin-bottom: 2rem;
            margin-top: 1rem;
            user-select: none;
        }
        .subIco{
            font-size: 5rem;
            transition: transform 280ms;
        }
        .subIco:hover{
            transform: scale(110%);
        }
        .inner-btn{
            width: 100%;
            height: 2rem;
            margin: 1.5rem;
            button{
                height: 2rem;
                border-radius: 0px;
                background: var(--button-bg-color);
                border: 0;
                //border: 2px solid #637183;
                font-family: Steradian;
                font-weight: 900;
                margin-right: .8rem;
                transition: color 280ms, background 280ms, border-color 280ms;
                letter-spacing: 1px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .subBtn{
                width: max-content;
                height: 42px;
                border: 2px solid var(--button-border-color);
                background: transparent;
                font-size: 16px;
                letter-spacing: .06rem;
                margin: 0;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                //padding: 0;
            }
            .pinkBtn:hover{
                background: var(--light-pink-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
            .greenBtn:hover{
                background: var(--light-green-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
            .redBtn:hover{
                background: var(--light-red-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
            .blueBtn:hover{
                background: var(--light-blue-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
            .pinkBtn:hover{
                background: var(--light-pink-color);
                color: var(--secondary-background-color);
            }
            .orangeBtn:hover{
                background: var(--light-orange-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
            .purpleBtn:hover{
                background: var(--light-purple-color);
                color: var(--primary-background-color);
                border-color: transparent;
            }
        }
        .center{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    }
    .subBox{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cardinfo{
        position: absolute;
        width: 290px;
        height: 290px;
        border-radius: inherit;
        user-select: none;
        clip-path: circle(25% at 0% 0%);
        color: transparent;
        letter-spacing: 1px;
        line-height: 1.7rem;


        p{
            margin: 2rem 1rem 0rem 1.5rem;
            font-size: 1.1rem;
            font-family: avenir;
            //word-spacing: .5rem;
        }
        .ico{
            position: absolute;
            padding-left: .8rem;
            padding-top: .8rem;
            height: 30px;   
            transition: opacity 280ms 200ms;
        }
        transition: background 420ms, clip-path 450ms ease-in-out, color 380ms;
    }
    .cardinfo:hover{
        //background: #196aff;
        clip-path: circle(145% at 0% 0%);
        color: var(--primary-background-color);
        .ico{
            transition: opacity 280ms;
            opacity: 0;
        }
    }
    .blueBgColor:hover{
        background: var(--light-blue-color);
    }
    .greenBgColor:hover{
        background: var(--light-green-color);
    }
    .orangeBgColor:hover{
        background: var(--light-orange-color);
    }
    .redBgColor:hover{
        background: var(--light-red-color);
    }
    .purpleBgColor:hover{
        background: var(--light-purple-color);
    }
    .pinkBgColor:hover{
        background: var(--light-pink-color);
    }
}
.kustom{
    transform: translateX(-65px);
}
.hide{
    display: none !important;
}
.feedBackPanel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--secondary-background-color);
    z-index: 1;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    //display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 280ms;

    .statusIco{
        height: 40% !important;
        width: auto !important;
    }
    .loading{
        background: var(--button-border-color);
        height: 30%;
        width: 30%;
        clip-path: circle();
        animation: loadingAnima 2000ms cubic-bezier(0.52, -0.09, 0.57, 0.95) infinite;
        display: flex;
        align-items: center;
        justify-content: center;
        .subLoading{
            height: 50%;
            width: 50%;
            clip-path: inherit;
            background: var(--disabled-ico-color);
            animation: loadingAnima 2000ms 500ms cubic-bezier(0.52, -0.09, 0.57, 0.95) infinite;
        }
    }
    .statusOk{
        filter: invert(77%) sepia(5%) saturate(4648%) hue-rotate(86deg) brightness(118%) contrast(100%);
    }
    .statusError{
        filter: invert(70%) sepia(82%) saturate(2839%) hue-rotate(319deg) brightness(103%) contrast(109%);
    }
    .statusText{
        background: transparent;
        font-family: 'avenir';
        letter-spacing: 1px;
        color: var(--basic-text-color);
        font-size: 1.2rem;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .statusButton{
        height: 2rem;
        border-radius: 0px;
        background: var(--button-bg-color);
        border: 0;
        font-family: Steradian;
        font-weight: 900;
        margin-right: .8rem;
        transition: color 280ms, background 280ms, border-color 280ms;
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
}



@media (min-width: 1480px) {

    .recentPanel{
        transform: translateX(0);
        .open{
            display: none;
        }
    }
}





@media (max-width: 574px) {

    .sideBar{
        height: 70px;
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        .container{
            width: 100%;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .sideBarBtn{
                width: calc(100% / 5);
                font-size: 1.2rem;
                display: grid;
                place-content: center;
            }
            .labelDiv{
                display: none;
            }
            .rm{
                display: none;
            }
            transition: background 280ms;
        }
    }
    .sideBar:hover{
        width: 100%;
        transition: width 280ms ease;
        .container{
            .rm{
                opacity: 100;
                transition: opacity 280ms 200ms;
            }
        }
    }
    .section{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 90%;
        
        .sideSpacing{
            margin-left: 0;
            margin-right: 0;
        }

        .title{
            font-size: 54px;
            span{
                font-size: 60px;
            }
            margin-left: 1rem;
        }
        .console::after{
            height: 8px;
            width: 25px;
            bottom: 26%;
            right: -35px;
        }

        .info{
            width: 92%;
            max-width: 600px;
            margin-top: 1.5rem;
            margin-left: 1rem;
            color: var(--basic-text-color);
            font-size: 16px;
            span{
                font-size: 30px;
            }
            .bold{
                font-size: 15px;
            }
        }

        .btnPanel{
            margin-top: 2rem;
            //background: lightcoral;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 1rem;
            button{
                height: 34px;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                margin-left: 1rem;
    
                font-family: SteradianLite;
                font-weight: 100;
                font-size: 12px;
                letter-spacing: .05rem;
                word-spacing: 0rem;
                transition: color 280ms, background 280ms;
            }
        }




        .formPanel{
            margin-top: 1rem;
            margin-left: 0rem;
            width: 85%;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            .formCard{
                width: auto;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                img{
                    width: 30px;
                }
                input, textarea{
                    outline: 0;
                    border: 2px solid var(--button-border-color);
                    background: transparent;
                    width: 262px;
                    height: 42px;
                    margin-left: 2rem;
                    font-size: 1rem;
                    padding-left: .5rem;
                    padding-right: .5rem;
                }
                input:focus{
                    border-color: #344461;
                }

                .sendBtn{
                    height: 36px;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    margin-left: 1rem;
    
                    font-family: SteradianLite;
                    font-weight: 100;
                    font-size: 12px;
                    letter-spacing: .05rem;
                    word-spacing: 0rem;    
                }
            }
        }
    }

    .cardContainer{
        
        margin-left: 0;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill,290px);
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 6rem;
    }


    .recentPanel{
        width: 300px;
        transform: translateX(330px);
        .title{
            margin-top: 2.5rem;
            position: absolute;
            top: 0;
            height: 86px;
            font-family: 'Steradian', sans-serif;
            font-size: 1.8rem;
            // span{
            //     font-size: 2.2rem;
            // }
        }
        .open{
            top: unset;
            bottom: 0;
            margin-bottom: 7rem;
        }
    
        .listActivity{
            //background: red;
            width: 100%;
            height: calc(100% - 100px - 4rem);
            display: flex;
            flex-direction: column;
            padding-bottom: 4rem;
        }
    }

    .kustom{
        display: none !important;
    }
}