@font-face {
  src: url("res/font/ArcaMajora3.otf");
  font-family: arcaMajora;
}

@font-face {
  src: url("res//font/Steradian Bold.otf");
  font-family: Steradian;
  font-weight: 900;
}

@font-face {
  src: url("res//font/Steradian Medium.otf");
  font-family: SteradianLite;
}

@font-face {
  src: url("res/font/AvenirLTStd-Book.otf");
  font-family: avenir;
}

@-webkit-keyframes console {
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes console {
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

:root {
  --primary-background-color: #232931;
  --secondary-background-color: #292F39;
  --disabled-ico-color: #637183;
  --enabled-ico-color: #BDF3FF;
  --accent-color: #4ECCA3;
  --primary-text-color: #BBEBFF;
  --basic-text-color: #E3E3E3;
  --button-bg-color: #323B49;
  --button-border-color: #2E3746;
  --nameFilter: invert(71%) sepia(31%) saturate(579%) hue-rotate(292deg) brightness(114%) contrast(106%);
  --emailFilter: invert(71%) sepia(6%) saturate(1807%) hue-rotate(204deg) brightness(104%) contrast(105%);
  --msgFilter: invert(89%) sepia(24%) saturate(401%) hue-rotate(83deg) brightness(103%) contrast(104%);
  --light-blue-color: #BDF3FF;
  --light-green-color: #bdffdb;
  --light-orange-color: #ffeabd;
  --light-red-color: #ffc1bd;
  --light-purple-color: #c1bdff;
  --light-pink-color: #ffbdeb;
  --light-semi-blue-color: #bdf3ffa4;
  --light-semi-green-color: #bdffdba4;
  --light-semi-orange-color: #ffeabda4;
  --light-semi-red-color: #ffc1bda4;
  --light-semi-purple-color: #c1bdffa4;
  --light-semi-pink-color: #ffbdeba4;
}

.blueColor {
  color: var(--light-blue-color);
}

.greenColor {
  color: var(--light-green-color);
}

.orangeColor {
  color: var(--light-orange-color);
}

.redColor {
  color: var(--light-red-color);
}

.purpleColor {
  color: var(--light-purple-color);
}

.pinkColor {
  color: var(--light-pink-color);
}

.semiblueColor {
  color: var(--light-semi-blue-color);
}

.semigreenColor {
  color: var(--light-semi-green-color);
}

.semiorangeColor {
  color: var(--light-semi-orange-color);
}

.semiredColor {
  color: var(--light-semi-red-color);
}

.semipurpleColor {
  color: var(--light-semi-purple-color);
}

.semipinkColor {
  color: var(--light-semi-pink-color);
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background: var(--primary-background-color);
  color: var(--basic-text-color);
  position: relative;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

.sideBar {
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 86px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--secondary-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: width 280ms 100ms ease, background 280ms;
  transition: width 280ms 100ms ease, background 280ms;
}

.sideBar .container {
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--disabled-ico-color);
  -webkit-transition: background 280ms;
  transition: background 280ms;
  transition: background 280ms;
}

.sideBar .container .sideBarBtn {
  width: 86px;
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.sideBar .container .labelDiv {
  position: absolute;
  right: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 170px;
  height: 86px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.12rem;
}

.sideBar .container .enabled {
  color: var(--enabled-ico-color);
}

.sideBar .container .disabled {
  color: var(--disabled-ico-color);
}

.sideBar .container .rm {
  opacity: 0%;
  -webkit-transition: opacity 200ms 0ms;
  transition: opacity 200ms 0ms;
}

.sideBar .enabledPanel {
  background: var(--primary-background-color);
}

.sideBar .container:hover {
  background: var(--primary-background-color);
}

.sideBar:hover {
  width: 250px;
  -webkit-transition: width 280ms ease;
  transition: width 280ms ease;
}

.sideBar:hover .container .rm {
  opacity: 100%;
  -webkit-transition: opacity 280ms 200ms;
  transition: opacity 280ms 200ms;
}

.recentPanel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 360px;
  padding-right: 3rem;
  padding-left: 1rem;
  background: var(--secondary-background-color);
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateX(410px);
          transform: translateX(410px);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.recentPanel .title {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  height: 86px;
  font-family: 'Steradian', sans-serif;
  font-size: 1.8rem;
}

.recentPanel .open {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  background: var(--secondary-background-color);
  -webkit-clip-path: circle();
          clip-path: circle();
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  -webkit-transition: opacity 280ms;
  transition: opacity 280ms;
}

.recentPanel .open i {
  font-size: 2rem;
  color: var(--light-blue-color);
  text-align: left;
}

.recentPanel .listActivity {
  width: auto;
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recentPanel .listActivity .card {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: var(--primary-background-color);
  margin-bottom: 1rem;
  padding: 1rem;
}

.recentPanel .listActivity .card .repoName {
  margin-top: 1rem;
  font-family: 'Steradian';
  letter-spacing: .05rem;
}

.recentPanel .listActivity .card .commitName {
  margin-top: .5rem;
  font-family: 'avenir';
  letter-spacing: .05rem;
  line-height: 1.3rem;
  font-size: .9rem;
  display: block;
}

.recentPanel .listActivity .card .commitTime {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: .5rem;
  font-family: 'Steradian';
  letter-spacing: .05rem;
  line-height: 1.3rem;
  font-size: .9rem;
}

.recentPanel .listActivity .card .commitLink {
  display: block;
  float: right;
  text-decoration: none;
  font-family: 'Steradian';
  letter-spacing: .08rem;
  line-height: 1.3rem;
  font-size: .9rem;
  padding: .5rem;
  background: var(--button-bg-color);
  margin-top: 1rem;
  width: 100px;
  text-align: center;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
  cursor: pointer;
}

.recentPanel .listActivity .card .blueBtn:hover {
  background: var(--light-blue-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.recentPanel:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.recentPanel:hover .open {
  pointer-events: none;
  opacity: 0%;
}

.acc {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20rem;
  background: var(--accent-color);
  -webkit-transform: scaleX(5%);
          transform: scaleX(5%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 280ms ease;
  transition: -webkit-transform 280ms ease;
  transition: transform 280ms ease;
  transition: transform 280ms ease, -webkit-transform 280ms ease;
}

.acc:hover {
  width: 20rem;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.section {
  background: transparent;
  margin-left: 87px;
  width: calc(90% - 87px);
  max-width: 700px;
  min-height: calc(100vh - 5rem);
  color: white;
  position: relative;
  -webkit-transition: opacity 280ms;
  transition: opacity 280ms;
}

.section .upspacing {
  margin-top: 80px;
}

.section .sideSpacing {
  margin-left: 2rem;
}

.section .title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  font-family: arcaMajora;
  font-size: 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section .title span {
  font-size: 70px;
}

.section .console::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 35px;
  background: var(--light-blue-color);
  bottom: 26%;
  right: -50px;
  -webkit-animation: console 1s ease-in-out infinite;
          animation: console 1s ease-in-out infinite;
}

.section .info {
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
  font-family: avenir;
  color: var(--basic-text-color);
  line-height: 168%;
  font-size: 20px;
}

.section .info span {
  font-size: 36px;
}

.section .btnPanel {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section .btnPanel button {
  height: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  background: var(--secondary-background-color);
  border: 0;
  border-radius: 3px;
  font-family: Steradian;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: .05rem;
  word-spacing: .3rem;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

.section .btnPanel .blueBtn:hover {
  background: var(--light-blue-color);
  color: var(--secondary-background-color);
}

.section .btnPanel .greenBtn:hover {
  background: var(--light-green-color);
  color: var(--secondary-background-color);
}

.section .btnPanel button:hover {
  color: var(--secondary-background-color);
}

.section .formPanel {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 323px;
  background: var(--secondary-background-color);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

.section .formPanel .formCard {
  width: auto;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .formPanel .formCard img {
  width: 38px;
}

.section .formPanel .formCard .icoName {
  -webkit-filter: var(--nameFilter);
          filter: var(--nameFilter);
}

.section .formPanel .formCard .icoEmail {
  -webkit-filter: var(--emailFilter);
          filter: var(--emailFilter);
}

.section .formPanel .formCard .icoMsg {
  -webkit-filter: var(--msgFilter);
          filter: var(--msgFilter);
}

.section .formPanel .formCard input, .section .formPanel .formCard textarea {
  outline: 0;
  border: 2px solid var(--button-border-color);
  background: transparent;
  width: 262px;
  height: 42px;
  margin-left: 2rem;
  font-size: 1.2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.section .formPanel .formCard input::-webkit-input-placeholder {
  color: var(--disabled-ico-color);
}

.section .formPanel .formCard input:-ms-input-placeholder {
  color: var(--disabled-ico-color);
}

.section .formPanel .formCard input::-ms-input-placeholder {
  color: var(--disabled-ico-color);
}

.section .formPanel .formCard input::placeholder {
  color: var(--disabled-ico-color);
}

.section .formPanel .formCard input:focus {
  border-color: var(--disabled-ico-color);
}

.section .formPanel .formCard .inputName {
  color: var(--light-pink-color);
}

.section .formPanel .formCard .inputEmail {
  color: var(--light-purple-color);
}

.section .formPanel .formCard .inputMessage {
  color: var(--light-green-color);
}

.section .formPanel .formCard button {
  height: 2rem;
  width: 35%;
  border-radius: 0px;
  background: var(--button-bg-color);
  border: 0;
  font-family: Steradian;
  font-weight: 900;
  margin-right: .8rem;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

.section .formPanel .formCard .sendBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 42px;
  border: 2px solid var(--button-border-color);
  background: transparent;
  font-size: 16px;
  letter-spacing: .06rem;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-transition: border-color 280ms, color 280ms, background 280ms;
  transition: border-color 280ms, color 280ms, background 280ms;
}

.section .formPanel .formCard .orangeBtn:hover {
  background: var(--light-orange-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer {
  margin-left: 2rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (290px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 290px);
  gap: 2rem;
}

.cardContainer .box {
  width: 290px;
  height: 290px;
  background: var(--secondary-background-color);
  position: relative;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 280ms ease;
  transition: -webkit-transform 280ms ease;
  transition: transform 280ms ease;
  transition: transform 280ms ease, -webkit-transform 280ms ease;
}

.cardContainer .box .headPad {
  padding-top: 5rem;
}

.cardContainer .box .cardtitle {
  margin-left: 1.4rem;
  margin-bottom: .2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Steradian;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: .1rem;
}

.cardContainer .box .subTitle {
  font-family: Steradian;
  font-size: 24px;
  letter-spacing: .1rem;
  color: var(--disabled-ico-color);
  margin-bottom: 2rem;
  margin-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cardContainer .box .subIco {
  font-size: 5rem;
  -webkit-transition: -webkit-transform 280ms;
  transition: -webkit-transform 280ms;
  transition: transform 280ms;
  transition: transform 280ms, -webkit-transform 280ms;
}

.cardContainer .box .subIco:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.cardContainer .box .inner-btn {
  width: 100%;
  height: 2rem;
  margin: 1.5rem;
}

.cardContainer .box .inner-btn button {
  height: 2rem;
  width: 35%;
  border-radius: 0px;
  background: var(--button-bg-color);
  border: 0;
  font-family: Steradian;
  font-weight: 900;
  margin-right: .8rem;
  -webkit-transition: color 280ms, background 280ms, border-color 280ms;
  transition: color 280ms, background 280ms, border-color 280ms;
}

.cardContainer .box .inner-btn .subBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 42px;
  border: 2px solid var(--button-border-color);
  background: transparent;
  font-size: 16px;
  letter-spacing: .06rem;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cardContainer .box .inner-btn .pinkBtn:hover {
  background: var(--light-pink-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .inner-btn .greenBtn:hover {
  background: var(--light-green-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .inner-btn .redBtn:hover {
  background: var(--light-red-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .inner-btn .blueBtn:hover {
  background: var(--light-blue-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .inner-btn .orangeBtn:hover {
  background: var(--light-orange-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .inner-btn .purpleBtn:hover {
  background: var(--light-purple-color);
  color: var(--primary-background-color);
  border-color: transparent;
}

.cardContainer .box .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.cardContainer .subBox {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardContainer .cardinfo {
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-clip-path: circle(25% at 0% 0%);
          clip-path: circle(25% at 0% 0%);
  color: transparent;
  -webkit-transition: background 420ms, color 380ms, -webkit-clip-path 450ms ease-in-out;
  transition: background 420ms, color 380ms, -webkit-clip-path 450ms ease-in-out;
  transition: background 420ms, clip-path 450ms ease-in-out, color 380ms;
  transition: background 420ms, clip-path 450ms ease-in-out, color 380ms, -webkit-clip-path 450ms ease-in-out;
}

.cardContainer .cardinfo p {
  margin: 2rem 1rem 0rem 1.5rem;
  font-size: 1.1rem;
  font-family: avenir;
}

.cardContainer .cardinfo .ico {
  position: absolute;
  padding-left: .8rem;
  padding-top: .8rem;
  height: 30px;
  -webkit-transition: opacity 280ms 200ms;
  transition: opacity 280ms 200ms;
}

.cardContainer .cardinfo:hover {
  -webkit-clip-path: circle(145% at 0% 0%);
          clip-path: circle(145% at 0% 0%);
  color: var(--primary-background-color);
}

.cardContainer .cardinfo:hover .ico {
  -webkit-transition: opacity 280ms;
  transition: opacity 280ms;
  opacity: 0%;
}

.cardContainer .blueBgColor:hover {
  background: var(--light-blue-color);
}

.cardContainer .greenBgColor:hover {
  background: var(--light-green-color);
}

.cardContainer .orangeBgColor:hover {
  background: var(--light-orange-color);
}

.cardContainer .redBgColor:hover {
  background: var(--light-red-color);
}

.cardContainer .purpleBgColor:hover {
  background: var(--light-purple-color);
}

.cardContainer .pinkBgColor:hover {
  background: var(--light-pink-color);
}

@media (max-width: 574px) {
  .sideBar {
    height: 70px;
    width: 100%;
    top: unset;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: width 280ms 100ms ease;
    transition: width 280ms 100ms ease;
  }
  .sideBar .container {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 280ms;
    transition: background 280ms;
  }
  .sideBar .container .sideBarBtn {
    width: calc(100% / 5);
    font-size: 1.2rem;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .sideBar .container .labelDiv {
    display: none;
  }
  .sideBar .container .rm {
    display: none;
  }
  .sideBar:hover {
    width: 100%;
    -webkit-transition: width 280ms ease;
    transition: width 280ms ease;
  }
  .sideBar:hover .container .rm {
    opacity: 100%;
    -webkit-transition: opacity 280ms 200ms;
    transition: opacity 280ms 200ms;
  }
  .section {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
  }
  .section .sideSpacing {
    margin-left: 0;
    margin-right: 0;
  }
  .section .title {
    font-size: 54px;
    margin-left: 1rem;
  }
  .section .title span {
    font-size: 60px;
  }
  .section .console::after {
    height: 8px;
    width: 25px;
    bottom: 26%;
    right: -35px;
  }
  .section .info {
    width: 92%;
    max-width: 600px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: var(--basic-text-color);
    font-size: 16px;
  }
  .section .info span {
    font-size: 30px;
  }
  .section .btnPanel {
    margin-top: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 1rem;
  }
  .section .btnPanel button {
    height: 34px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1rem;
    font-family: SteradianLite;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: .05rem;
    word-spacing: 0rem;
    -webkit-transition: color 280ms, background 280ms;
    transition: color 280ms, background 280ms;
  }
  .section .formPanel {
    margin-top: 1rem;
    margin-left: 0rem;
    width: 85%;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .section .formPanel .formCard {
    width: auto;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .formPanel .formCard img {
    width: 30px;
  }
  .section .formPanel .formCard input, .section .formPanel .formCard textarea {
    outline: 0;
    border: 2px solid var(--button-border-color);
    background: transparent;
    width: 262px;
    height: 42px;
    margin-left: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .section .formPanel .formCard input:focus {
    border-color: #344461;
  }
  .section .formPanel .formCard .sendBtn {
    height: 36px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1rem;
    font-family: SteradianLite;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: .05rem;
    word-spacing: 0rem;
  }
  .cardContainer {
    margin-left: 0;
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (290px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 290px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */