@keyframes motionBG {
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes motionBG2 {
  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes glow {
  0% {
    filter: unset;
  }
  50% {
    filter: drop-shadow(0px 0px 20px #a1c3ff71) brightness(1.2);
  }

  100% {
    filter: drop-shadow(0px 0px 20px #00000000) brightness(1);
  }
}

nav {
  width: 100vw;
  height: 5rem;
  //background: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7%;
  background: linear-gradient(to bottom, var(--clr-bg), transparent);

  button {
    border: 0;
    color: var(--clr-textM);
    background: transparent;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    transition: color 280ms ease, filter 280ms ease, transform 280ms ease;
    &:hover {
      color: var(--clr-accM);
      filter: brightness(1.5);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.mobile-nav {
  justify-content: flex-end;
  padding: 1rem 2rem;
  background: transparent;
}

// .bg3 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   //background: #26282b;
//   background: var(--clr-bg);
//   background-image: url("../assets/bg2.png");
//   background-position: left;
//   background-repeat: no-repeat;
//   min-height: 100vh;
//   animation: motionBG2 6s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
//   display: none;

//   z-index: 1;
// }

// .bg4 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;

//   display: grid;
//   display: none;
//   place-content: center;

//   --cilp-width: 30rem;

//   &::after {
//     position: absolute;
//     content: "";
//     width: var(--cilp-width);
//     margin-left: 20rem;
//     height: 100%;
//     left: 0;
//     clip-path: polygon(100% 0, 100% 100%, 0 100%);
//     //background: #26282b;
//     background: var(--clr-bg);
//     z-index: 1;
//   }

//   &::before {
//     position: absolute;
//     content: "";
//     right: 0;
//     width: calc(100% - var(--cilp-width) - 20rem);
//     height: 100%;
//     //background: #26282b;
//     background: var(--clr-bg);
//     z-index: 1;
//   }
// }

.container {
  position: relative;
  //max-width: 1000px;
  width: 100vw;
  min-height: 100vh;
  z-index: 2;

  display: flex;
  flex-direction: row;
  flex-basis: 100%;

  & > * {
    width: 100%;
    display: flex;
    align-items: center;
  }
  & > :nth-child(1) {
    justify-content: center;

    .slogo {
      position: relative;
      width: 40%;
      max-width: 300px;
      margin-left: 150px;
      aspect-ratio: 3 / 4;
      object-fit: cover;
      //margin-right: 5rem;
    }
  }
  & > :nth-child(2) {
    // background-color: lightcoral;
    div {
      margin-left: 5rem;
    }

    h1 {
      margin-bottom: 0.6rem;
      font-size: 3em;
    }

    p {
      max-width: 35ch;
      color: var(--clr-txtS);
      line-height: 1.8rem;
      word-spacing: 2px;
      font-weight: 300;

      span {
        font-weight: 700;
        color: var(--clr-txtM);
      }
    }
  }
}

.cv-btn {
  margin-top: 1rem;
  background: var(--clr-accM);
  padding: 0.5rem 1.8rem;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--clr-txtM);
  border: 0;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: 500;
  //text-transform: uppercase;
  transition: transform 280ms ease, filter 280ms ease;
  outline: none;
  cursor: pointer;

  i {
    display: inline-block;
    font-size: 1.2rem;
    transform: translateY(3px);
    margin-right: 0.5rem;
  }

  &:hover {
    filter: contrast(1.2);
  }
  &:active {
    transform: scale(0.9);
  }
}

.hamburger {
  fill: var(--clr-txtM);
  width: 5rem;
  z-index: 99999999;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
}

.mobile-nav-container {
  position: fixed;
  z-index: 9999999;

  top: 0;
  width: 100vw;
  padding: 4rem 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  background: var(--clr-accM);

  button {
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 600;
    color: var(--clr-txtM);
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;

    transition: filter 280ms ease, transform 280ms ease;

    &:hover {
      filter: brightness(0.1);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.head-container {
  height: min-content;
  padding: 2rem 4rem;
  display: grid;
  place-content: center;
  width: 100vw;
  //background: blue;
  * {
    text-align: center;
  }

  .section-head {
    h1 {
      font-size: 3rem;
      letter-spacing: 5px;
    }
    p {
      color: var(--clr-txtS);
      font-weight: 300;
    }
  }
}

.head-container-mobile {
  height: min-content;
  padding: 0rem 4rem;
  display: grid;
  place-content: center;
  width: 100vw;
  //background: blue;
  * {
    text-align: center;
  }

  .section-head {
    h1 {
      font-size: 3rem;
      letter-spacing: 5px;
    }
    p {
      color: var(--clr-txtS);
      font-weight: 300;
    }
  }
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  background: var(--clr-accM);
  pointer-events: none;

  &::after {
    content: "Loading";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    font-family: var(--font);
    color: var(--clr-textM);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
  }

  div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
  }

  *:nth-child(1) {
    background: var(--clr-bg);
    z-index: 2;
    opacity: 0.5;
  }

  *:nth-child(2) {
    background: var(--clr-bg);
    z-index: 1;
  }
}
