$card-Ttype: 500ms cubic-bezier(0.87, 0.07, 0.37, 0.97);
.social_section {
  .container {
    //@error: red;
    //max-width: 1200px;
    min-height: unset;
    height: min-content !important;
    padding: 4rem 4rem;
    //background: blue;
    // display: flex;
    // flex-direction: column;
  }

  .grid {
    //background: blue;
    height: min-content;
    $cardSize: 15rem;
    $borderRadius: 10px;
    $brX: 8px;
    $bigBorderRadius: 30px;
    $mContainerHeight: 37%;

    $borderType1: $brX $brX $bigBorderRadius 0;
    $borderType2: $brX $brX 0 $bigBorderRadius;

    $borderType3: 0 $bigBorderRadius $brX $brX;
    $borderType4: $bigBorderRadius 0 $brX $brX;
    display: grid;
    grid-template-columns: repeat(auto-fit, $cardSize);
    place-content: center;
    gap: 4rem;

    .mContainer {
      width: 100%;
      height: $mContainerHeight;
      position: absolute;
      filter: brightness(1.2);

      transition: height $card-Ttype, border-radius $card-Ttype;

      h1 {
        font-weight: 600;
        letter-spacing: 4px;
        font-size: 1.7rem;
        padding: 0.8rem;
        word-break: break-all;
        word-spacing: 100000px;
      }

      p {
        padding: 0rem 0.8rem;
        font-weight: 300;
        color: var(--clr-txtS);
        user-select: none;
        font-size: 0.85rem;
        line-height: 1.5rem;
        letter-spacing: 3px;
        pointer-events: none;

        opacity: 0;
        transition: opacity $card-Ttype;
      }

      .cardbtnContainer {
        width: 100%;
        display: grid;
        place-content: center;
        font-size: 1.5rem;
        padding: 1.5rem 0rem;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        //transition: opacity 600ms $card-Ttype;
        transition: opacity 500ms 100ms, visibility 280ms 100ms;

        i {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 100px;
          border: 2px solid var(--clr-txtT);
          display: grid;
          place-content: center;
          cursor: pointer;
          transition: transform 380ms ease-in-out, color 380ms ease-in-out,
            background 380ms ease-in-out;
        }

        i:active {
          transform: scale(0.5);
        }
      }
    }

    .lContainer {
      position: absolute;
      width: 100%;
      height: 100% - $mContainerHeight;
      bottom: 0;
      display: grid;
      place-content: center;

      transition: opacity 380ms ease-in-out;

      i {
        font-size: 8rem;
        color: var(--clr-bg);
        z-index: 1;
        transition: transform 380ms ease-in-out;
      }
    }

    & > *:nth-child(1) {
      background: var(--clr-accM);
      .mContainer {
        background: var(--clr-bg);
        border-radius: $borderType1;
        box-shadow: 0px 20px 20px var(--clr-shadow);
        z-index: 2;
        h1 {
          text-align: left;
        }

        .cardbtnContainer {
          color: var(--clr-accM);
        }

        .cardbtnContainer i:hover {
          background: var(--clr-accM);
          color: var(--clr-bg);
        }
      }
    }

    & > *:nth-child(2) {
      background: var(--clr-acc3);
      .mContainer {
        background: var(--clr-bg);
        border-radius: $borderType4;
        box-shadow: 0px -20px 20px var(--clr-shadow);
        bottom: 0;
        h1 {
          text-align: right;
        }

        .cardbtnContainer {
          color: var(--clr-acc3);
        }

        .cardbtnContainer i:hover {
          background: var(--clr-acc3);
          color: var(--clr-bg);
        }
      }
      .lContainer {
        top: 0;
      }
    }

    & > *:nth-child(3) {
      background: var(--clr-acc2);
      .mContainer {
        background: var(--clr-bg);
        border-radius: $borderType2;
        box-shadow: 0px 20px 20px var(--clr-shadow);
        z-index: 2;
        h1 {
          text-align: right;
        }

        .cardbtnContainer {
          color: var(--clr-acc2);
        }

        .cardbtnContainer i:hover {
          background: var(--clr-acc2);
          color: var(--clr-bg);
        }
      }
    }

    & > *:nth-child(4) {
      background: var(--clr-acc4);
      .mContainer {
        background: var(--clr-bg);
        border-radius: $borderType3;
        box-shadow: 0px -20px 20px var(--clr-shadow);
        bottom: 0;
        h1 {
          text-align: left;
        }

        .cardbtnContainer {
          color: var(--clr-acc4);
        }

        .cardbtnContainer i:hover {
          background: var(--clr-acc4);
          color: var(--clr-bg);
        }
      }
      .lContainer {
        top: 0;
      }
    }

    & > * {
      position: relative;
      background: var(--clr-bg);
      width: $cardSize;
      // aspect-ratio: 34/46;
      height: $cardSize / 34 * 46;
      border-radius: $borderRadius;

      &:hover {
        .mContainer {
          height: 100%;
          border-radius: $brX !important;

          p {
            opacity: 1;
          }

          .cardbtnContainer {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            // transition: opacity 200ms 500ms, visibility 500ms 500ms;
            transition: opacity 500ms 280ms, visibility 280ms 200ms;
          }
        }
        .lContainer {
          opacity: 0;
          i {
            transform: translateY(10%);
          }
        }
      }
    }
  }
}
